<div class="container">
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">HS News</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {{#if session.isAuthenticated}}
          <li>{{#link-to "links.new"}}Create link{{/link-to}}</li>
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if session.isAuthenticated}}
          <li><a href="#" {{ action 'invalidateSession' }}>Logout</a></li>
        {{else}}
          <li>{{#link-to 'users.new'}}Sign up{{/link-to}}</li>
          <li>{{#link-to 'login'}}Login{{/link-to}}</li>
        {{/if}}
      </ul>
    </div>
  </nav>
  {{outlet}}
</div>
