<nav>
  {{link-to "Borrowers" "index" class="main"}}

  <div class="menu">
    {{link-to "Dashboard" "index"}}
    {{link-to "Friends" "friends"}}
    {{link-to "New Friend" "friends.new"}}
  </div>
</nav>
