<h2 id="title">Welcome to my blog</h2>

<ul>
  <li>
    <h3>{{link-to "My post one" "posts.postOne"}}</h3>
  </li>
  <li>
    <h3>{{link-to "My post two" "posts.postTwo"}}</h3>
  </li>
</ul>

{{outlet}}
