<h1>Links</h1>
<ul class="list-unstyled">
  {{#each model as |link|}}
    <li>
      {{link.title}}
      {{link.url}}
      ({{link-to "Edit" "links.edit" link}})
      <a href="#" {{action "delete" link}}>Delete</a>
    </li>
  {{/each}}
</ul>
